:root {
--darkblue: hsl(233, 26%, 24%);
--Limegreen: hsl(136, 65%, 51%);
--Rightcyan: hsl(192, 70%, 51%) ; 
--Grayblue: hsl(233, 8%, 62%);
--Gray: hsl(220, 16%, 96%);
--Lightgray: hsl(0, 0%, 98%);
--White: hsl(0, 0%, 100%);
font-size: 16px;
}


body {
    font-family: 'Public Sans', sans-serif;
    margin: 0;
}

.hero {
  // border: 2px solid red;
  text-align: center;
}

.title {
  border: 1px solid red;
  &__h1 {
    border: 1px solid blue;
  }
}

.button {
  // border: 1px solid red;
  padding: .9em 2em;
  font-size:  1.1em;
  border-radius: 1.4em;
  color: var(--White);
  background-image: linear-gradient(to right, var(--Limegreen) 0%, var(--Rightcyan) 100%) ;
}